.app-container {
  margin-top: 80px !important;
  max-width: 1000px;
  margin: auto;
}

.sidebar-options {
  display: grid;
  gap: 1em;
}

::ng-deep .mat-nav-list {
  padding: 0 !important;
}

.app-container {
  height: 100vh;
}
