<custom-spinner [isLoading$]="isLoading$"></custom-spinner>
<custom-header></custom-header>
<mat-sidenav-container class="example-container">
  <mat-sidenav
    [style.marginTop.px]="(isMobileView$ | async) ? 56 : 64"
    (closedStart)="hideSidebar()"
    [mode]="(isMobileView$ | async) ? 'over' : 'side'"
    [opened]="isSidebarOpened$ | async"
    [style.width]="(isMobileView$ | async) ? '250px' : '25%'"
    [style.position]="(isMobileView$ | async) ? 'fixed' : ''"
    fixedInViewport="true"
  >
    <mat-nav-list *ngFor="let option of options">
      <a mat-list-item class="font-14-normal" (click)="changeOption(option)">{{
        option
      }}</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
