<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="font-20-bold font-color-white">Covid Tracker</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
</p>
