@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("/assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  src: url("/assets/fonts/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: url("/assets/fonts/Quicksand-Medium.ttf");
}
