.clickable {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.spacer {
  flex: 1 1 auto;
}
.mt-1 {
  margin-top: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.mt-2 {
  margin-top: 2em !important;
}
.mb-2 {
  margin-bottom: 2em !important;
}
.text-center {
  text-align: center;
}
