$color-primary: #4420d4;
$color-font-primary: #8384a0;
$color-font-black: #2a1a4b;
$color-white: #ffff;
$border-color: #d9dae7;
$color-red: #e2215b;
$color-red-light: #f9d3de;
$color-green: #56bd8c;
$color-green-light: #ddf2e8;
$color-yellow: #fbbf78;
$color-yellow-light: #fcf8e3;
$color-grey: #f4f5fb;
$color-black: black;
$box-shadow-default: 0px 4px 30px rgba(48, 26, 75, 0.15);
